.env
.gitignore
.gitattributes
.git
.venv
.pre-commit-config.yaml
Taskfile.yml
tests
.ruff_cache
*/__pycache__
poetry.toml
README.md
Dockerfile
.idea
.default_env
docker-compose.yml
*.tar.gz
data/
.dockerignore
